# Тестовые зависимости
pytest==7.4.3
pytest-asyncio==0.21.1
pytest-cov==4.1.0
httpx==0.28.1
aiosqlite==0.19.0

# Для мокирования
pytest-mock==3.12.0

# Для генерации отчетов
pytest-html==4.1.1
pytest-xdist==3.8.0  # Для параллельного запуска тестов

# Для тестов производительности
psutil==5.9.6
# линтер
ruff>=0.14.4
