apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    uid: af2skpy1604cge

  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    uid: cf335zyta86bkd